<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<div class="navParent">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
  
            class="nav-link"
            aria-current="page"
            data-aos="fade-right"
            data-aos-offset="600"
            data-aos-easing="ease-in-sine"
            routerLink="/home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            data-aos="fade-right"
            data-aos-offset="600"
            data-aos-easing="ease-in-sine"
            routerLink="/exp"
            >Work</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link name"
            href="#"
            data-aos="fade-up"
            data-aos-duration="3000"
            >RAMESH KUMAR</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/resume"
            data-aos="fade-left"
            data-aos-offset="600"
            data-aos-easing="ease-in-sine"
            >Resume</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            data-aos="fade-left"
            data-aos-offset="600"
            data-aos-easing="ease-in-sine"
            routerLink="/contact"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
