<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h3>Work Experience</h3>
      <div class="head"   data-aos="fade-up"  data-aos-easing="linear"
      data-aos-duration="1500">
        <h4>Eclature | Hyderabad - Job 2</h4>
        <h5>Angular Front End Developer : 2.2 Years Experience</h5>
      </div>
      <h5 class="des"   data-aos="fade-up"  data-aos-easing="linear"
      data-aos-duration="1500">
        <pre>
        Angular Development: Built scalable web applications using Angular
        (directives, pipes, data binding, services) for dynamic user interfaces.

        Advanced Features: Implemented RxJS, lifecycle hooks, and auth guards for
        secure, role-based routing.

        Forms & Validation: Developed interactive forms with Reactive
        Forms and robust validations.

        API Integration: Integrated RESTful APIs to optimize data flow
        and improve performance.

        Testing & Debugging: Wrote unit tests with Jasmine/Karma and
        debugged applications to ensure stability.

        JavaScript/TypeScript: Applied best practices in JavaScript (ES6+)
        and TypeScript for clean, maintainable code.

        Version Control: Managed code using Git, participated in Agile
        processes (stand-ups, sprint planning, retrospectives), and
        conducted code reviews to enhance quality and delivery. 
      </pre
        >
      </h5>

      <div class="head"   data-aos="fade-up"  data-aos-easing="linear"
      data-aos-duration="1500">
        <h4>Ad aegis | Kakinada - Job 1</h4>
        <h5>Social Media Manager</h5>
      </div>
      <h5 class="des"   data-aos="fade-up"  data-aos-easing="linear"
      data-aos-duration="1500">
        <pre>            Social Media Management: Ran targeted Facebook ads to boost reach and brand awareness.
            Content Creation: Designed posters and edited videos to enhance engagement.
            Google & YouTube Ads: Executed campaigns to increase visibility and reach.
            
              </pre
        >
      </h5>
    </div>
    <div class="bg"></div>
  </body>
</html>
