.bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    filter: blur(220px);
    z-index: 0;
    opacity: 10%;
  }
.bg {
  background: linear-gradient(
    45deg,
    #ff7f7f,
    #7fafff,
    #7fff7f,
    #ffff7f,
    #ff7f7f,
    #7fbfff,
    #ffbf7f
  );
  background-size: 300% 300%; /* Increase background size for a more gradual transition */
  animation: animatedGradient 20s ease-in-out infinite;
  z-index: 0;
}

/* Animate background position for a smooth, continuous color flow */
@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body{
    padding: 200px;
    overflow-x: hidden;
    overflow-y: visible;
    
}
.head{
    font-weight: 600;
}
.des pre{
    padding-top: 15px;
    font-weight: 600;
    font-size: 20px;
}
